node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
coverage
uploads/*
!uploads/.gitignore
reports/*
!reports/.gitignore
logs/*
!logs/.gitignore
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
